{
  "extends": ["airbnb", "prettier"],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "eqeqeq": "off",
    "class-methods-use-this": "off"
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
