body {
  padding: 50px;
  font: 14px -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.card-img, .card-img-top {
    max-width: 200px;
    max-height: 200px;
    margin:0 auto;